.levels-page {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 65vh; 
}

.header {
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}

.logo-section {
  display: flex;
  justify-content: space-between;
}

.home-level {
  color: white; /* Adjust color as needed */
}

.logo {
 width: 20px;
}

.task-header {
  margin-top: 20px;
}

.task-header h2, h5 {
  color: white; /* Adjust color as needed */
}


.heading {
  color: white; /* Adjust color as needed */
  font-size: 20px; /* Adjust font size as needed */
}

.level-heading {
  margin-left: 10px;
}

.container {
  background-color: white;
  /* Other styles for the container */
}
.oval-container {
  width: 42%; 
  max-height:450 px;
  overflow-y: auto; 
}


.oval-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
}

.left-side {
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}

.right-side {
  margin-left: 10px;
}


.footer {
  background-color: black; /* Adjust color as needed */
  padding: 20px;
  text-align: center;
}

.footer-heading {
  color: white; /* Adjust color as needed */
}
.firstlevel-button {
  margin-top: 10px;
}
.scan-header {
  text-align: center;;
}

.image-success {
  display: block;
  margin: auto; /* Centers the image horizontally */
  margin-top: 20px; /* Adjust the margin-top as needed */
  max-width: 50%; /* Ensures the image doesn't exceed the width of its container */
  max-height: 50vh; /* Ensures the image doesn't exceed the height of the viewport */
}
