.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.background-image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adjust the height as needed */
    background-image: url("../assests/register.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.gradient {
    top: 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adjust the height as needed */
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(18, 18, 18, 1) 40%,
            rgba(255, 255, 255, 0) 100%);
}

.register-form {
    z-index: 2;
    /* Set the z-index to appear above the background */
    width: 500px;
    padding: 20px;
    border-radius: 10px;
}

.input-with-icon {
    background-image: url('../assests/Message_alt_fill.png'); /* Adjust the path to your image */
    background-repeat: no-repeat;
    background-position: 15px center; /* Adjust the position of the icon */
    padding-left: 45px; /* Ensure enough space for the icon */
  }
  
  .input-with-icon {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    margin-left: 100px; /* Add space above the button */
  }

  .register-logo {
    margin-bottom: 44px;
    margin-left: 60px;
  }


  